<h1 class="m-3 text-success">Misi칩n</h1>
<div class="row">
  <%= image_tag 'title.png', :class=>"col-6" %>
  <p class="col-6 p-3"> Mente Peque침a es un proyecto que pretende ayudar a la
    prevencion de las enfermedades de indole mental, acompa침ando a los ni침os en
    toda su etapa escolar a traves de juegos tipo arcade que los ayudaran a
    reaforzar habilidades clave para su futuro.</p>
</div>
