<h1 class="text-danger"> Contacto </h1>
<form>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationServer01">Nombre</label>
      <input type="text" class="form-control" id="validationServer01" placeholder="Nombre" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer02">Apellido</label>
      <input type="text" class="form-control" id="validationServer02" placeholder="Apellido" required>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer03">Email</label>
        <input type="email" class="form-control" id="validationServer03" placeholder="Email" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer04">Ciudad</label>
        <input type="text" class="form-control" id="validationServer04" placeholder="Ciudad" required>
      </div>
    </div>
  </div>
  <button class="btn btn-dark" type="submit">Enviar</button>
</form>
