<main>
  <form class="form-group" action="index.html" method="post">
    <div class="form-group">
      <label for="">Codigo Inicial</label>
      <input type="text" name="code" >

    </div>
  </form>
</main>
