<h1 class="text-primary">Bienvenido</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<a id="clickbuttom" href=" <%= pages_filter_path %>" >
  <button type="button" class="btn btn-danger btn-lg m-2" name="button"> ¡JUEGA! </button>
</a>
