<h1 class="text-primary text-center p-4">Bienvenido</h1>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" width="560" height="315" allow="fullscreen; autoplay; encrypted-media" src="https://games.construct.net/24/latest" frameborder="0" allowfullscreen="true" msallowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allowpaymentrequest="false" referrerpolicy="unsafe-url" sandbox="allow-same-origin allow-forms allow-scripts allow-pointer-lock allow-orientation-lock allow-popups" scrolling="no"></iframe>
</div>
<div class="float-center">
  <a id="clickbuttom" href=" <%= pages_filter_path %>" >
    <button type="button" class="btn btn-danger btn-lg m-5 px-5" name="button">
       ¡JUEGA!
     </button>
  </a>
</div>
